<div class="soutien">
    <div class="soutien-block">
        <p>La compagnie NTH est née de la collaboration entre l'humoriste et 
        comédien Nathan Thomas et la chanteuse Noémie Hodebourg. 
        Leur souhait : produire des spectacles professionnels dans le canton de 
        Neuchâtel et au-delà, en proposant au public des créations ambitieuses, 
        modernes et accessibles à toutes et tous.</p>

        <p>Aujourd’hui, pour continuer à donner vie à ces projets, nous sommes activement 
        à la recherche de soutien. Vos dons nous permettent de couvrir les nombreux 
        coûts liés à la création artistique : techniques, logistiques, humains et créatifs.
        Ils contribuent également à assurer le bon fonctionnement de la compagnie sur le 
        long terme.</p>

        <p>La compagnie NTH, c'est aussi l'association Cie NTH, une structure à but non 
        lucratif dont la mission est de produire et promouvoir la culture dans le 
        canton de Neuchâtel et en Suisse romande. À travers nos actions, nous souhaitons 
        rendre le spectacle vivant toujours plus vivant, accessible et inspirant.</p>

        <p>Nous mettons tout en œuvre pour créer des spectacles grandioses : des équipes 
        artistiques reconnues, des moyens techniques ambitieux, une communication soignée 
        et une véritable exigence de qualité. Notre objectif est simple : offrir au public 
        des expériences dignes des plus grands shows, à la hauteur de ce qu'il mérite.</p>

        <p>En nous soutenant, vous devenez un acteur essentiel de cette aventure artistique. 
        Chaque contribution, quelle que soit son importance, nous rapproche un peu plus de 
        notre vision.</pp>

        <p>Merci de faire partie de l'histoire de la compagnie NTH.</p>
    </div>

    <div class="soutien-don">
      <h2 class="soutien-don-titre">Faire un don</h2>

        <p class="soutien-don-texte">En faveur de l'Association Cie NTH<br>
        Chemin de la Joux-pélichet 35 <br>
        2400 Le Locle <br>
        Banque BCN (Banque cantonale neuchâteloise)<br>
        IBAN : CH90 0076 6000 1047 2877 9</p>
    </div>
</div>